name: pgnet
channels:
  - pytorch
  - nvidia
  - defaults
dependencies:
  - python=3.10
  - pytorch-cuda=12.1
  - pytorch=2.4.0
  - torchaudio=2.4.0
  - torchvision=0.19.0
  - ninja
  - numpy
  - pip
  - pip:
      - -r requirements.txt

